/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
p {
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 300;
  color: #555;
}

.navbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar-inner {
  background: #ffffff;
}
.navbar .brand {
  font-weight: 300;
  /*font-size*/
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #fefefe;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


#wrap > .container {
  padding-top: 100px;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

#wrap > .container .row h1 {
  padding-top: 30px;
}

@media (min-width: 1200px) {
  #wrap > .container .row h1 {
    padding-top: 50px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  #wrap > .container .row h1 {
    padding-top: 20px;
  }
  #wrap > .container {
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  #wrap > .container {
    padding-top: 0px;
  }
  #wrap > .container .row h1 {
    padding-top: 0;
    padding-bottom: 10px;
  }
}