---
layout: latex
title: Talks - Patrick Quinn-Graham
---

<main>
  <article>

    <h2>Occasionally I talk about things</h2>

    <p>
      When I talk about something at a conference or meetup the slides
      will appear below, and where possible a link to a recording. If
      you want to discuss any of these, <a href="make-contact.html">reach out</a>.
    </p>

    {% assign talks_in_order = site.talks | sort: "date" | reverse %}
    {% for talk in talks_in_order %}
    <section>
      <h3>{{ talk.title }}</h3>
      <p>
        <a href="{{ talk.event.link }}">At {{ talk.event.name }} ({{ talk.date | date: "%B %Y" }})</a>
      </p>
      
      {{ talk.content | mardownify }}

      <ul>
        {% for link in talk.links %}
        <li><a href="{{link.href}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
    </section>
    {% endfor %}

  </article>
</main>