---
import Layout from "../layouts/Swift.astro";
import { SITE_TITLE } from "../consts";
import Link from "../components/Link.astro";
---

<Layout title={SITE_TITLE}>
  <main>
    <article>
      <p>I am just somebody living in Sydney, Australia.</p>

      <p>
        I love empowering people to design and build reliable, secure and
        scalable systems: a micro service, an internal platform, a team,
        achieving and retaining multiple compliance standards (incl PCI DSS
        3.2.1, SOC 2 Type 1, and various AWS partnership programs).
      </p>

      <p>
        I like doing AV things at events, see
        <Link href="https://twopats.live/">Two Pats</Link>.
      </p>

      <p>
        Rarely I
        <Link href="talks">talk</Link>
        at conferences or meetups.
      </p>

      <p>
        Can be found on
        <Link rel="me" href="https://cloudisland.nz/@patrick">mastodon</Link>,
        <!-- <Link href="https://www.youtube.com/@PatrickQuinnGraham">youtube</Link>, -->
        <Link href="https://very.photos/patrick">pixelfed</Link>,
        <Link href="https://github.com/thepatrick">GitHub</Link>,
        <Link href="https://www.linkedin.com/in/thepatrick">LinkedIn</Link>.
      </p>
    </article>
  </main>
</Layout>
