---
import Layout from "../layouts/Swift.astro";
import { SITE_TITLE } from "../consts";
import HighlightSection from "../components/HighlightSection.astro";
---

<Layout title={`Make contact  - ${SITE_TITLE}`}>
  <main>
    <article>
      <h2>Make contact</h2>

      <p>
        Normally here would appear a contact form, but I don't have one ready
        yet (this yet has been here for 10 years, d'oh). Instead please reach
        out using the social networks/sites on the <a href="/#about">about</a> page.
      </p>
      <p>
        You might also be able to guess an email address. I suggest trying
        hello@ the domain you are currently viewing this on.
      </p>
    </article>

    <HighlightSection>
      <h3>Note to recruiters</h3>

      <p>👋</p>

      <p>
        It's nice to meet you, but you are not an emergency. I'm happy in my
        current role, and an unexpected phone call is very likely to make a very
        negative impression of both you and your clients. Stick to email!
      </p>
    </HighlightSection>

    <article>
      <h3 class="text-2xl md:text-3xl">For urgent contact</h3>
      <ul>
        <li>
          Australia<br />
          <strong>+61 427 777 932</strong>
        </li>
        <li>
          USA<br />
          <strong>+1 415 341 5141</strong>
        </li>
      </ul>
    </article>
  </main>
</Layout>
