---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="container mx-auto px-4 py-8 md:py-16 md:flex">
	<h1 class="md:flex-auto text-7xl md:text-9xl font-thin text-pink-50 opacity-95">
		Hi, I'm 
		<strong class="font-medium xl:block">Patrick</strong>
	</h1>
	<nav class="py-4 md:flex-none md:self-end md:py-8">
		<HeaderLink href="/">About</HeaderLink>
		<HeaderLink href="/projects/words/">Words</HeaderLink>
		<HeaderLink href="/projects/">Projects</HeaderLink>
		<HeaderLink href="/talks/">Talks</HeaderLink>
		<HeaderLink href="/make-contact">Make contact</HeaderLink>
	</nav>
</header>
