---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h1">;

const { class: className, ...props } = Astro.props;
---

<h1
  class:list={[
    "text-xl",
    "md:text-2xl",
    "xl:text-3xl",
    "2xl:test-4xl",
    className
  ]}
  {...props}
>
  <slot />
</h1>
