---
import HighlightSection from "../../../../components/HighlightSection.astro";
import Link from "../../../../components/Link.astro";
import { SITE_TITLE } from "../../../../consts";
import Layout from "../../../../layouts/Swift.astro";
import SectionH1 from "../../../../components/SectionH1.astro";
---

<Layout title={`Flickr Tools - Retired Projects - ${SITE_TITLE}`}>
  <main>
    <article>
      <SectionH1>
        <Link href="/projects/retired/">Retired</Link>
      </SectionH1>

      <h2>Flickr Tools</h2>

      <p>
        This was a collection of tools (generate a strict DOM compatible photo
        widget, favourite photographers, and various slideshow tests). These
        largely relied on a ruby on rails app that has now been retired. Rather
        than leave these demos in a potentially broken state I retired them.
      </p>

      <h3>Related</h3>

      <ul>
        <li><Link href="/projects/">Projects</Link></li>
        <li><Link href="http://github.com/thepatrick">GitHub</Link></li>
      </ul>
    </article>
  </main>
</Layout>
