---
layout: latex
---

<main>
  <article>
    <h2>The Decade Project</h2>
    
    <h3>{{ page.title }}</h3>
    <p>{{ page.date | date: "%B %d, %Y" }}</p>
    <p>
      {% if page.flickrUrl %}<a href="{{ page.flickrUrl }}">{% endif %}
      <img src="{{ page.large }}">
      {% if page.flickrUrl %}</a>{% endif %}
    </p>

    
    
    {{ page.content | mardownify }}

    <p>
      This photo was part of a project 
      <a href="/projects/retired/decade/#about">to take a photo every
      day for ten years</a>{% if page.flickrUrl %}, it also appeared on 
        <a href="{{ page.flickrUrl }}">Flickr</a>{% endif %}.
    </p>

  </article>
</main>