<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/css/mmmdonuts.css">

        <!-- syntax highlighting CSS -->
        <!-- <link rel="stylesheet" href="/css/syntax.css"> -->

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="/css/main.css"> -->

    </head>
    <body>

    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">{{ site.name }}</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="/about.html">about</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/make-contact.html">make contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
          {{ content }}

        <!-- <div class="page-header">
          <h1>Sticky footer with fixed navbar</h1>
        </div>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>
        <p>Back to <a href="./sticky-footer.html">the sticky footer</a> minus the navbar.</p> -->
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row">
        <div class="span10 offset1">
        <p class="muted credit">
          Copyright &copy; 1999-2013 Patrick Quinn-Graham.
          <a href="/rights-reserved.html">Some rights reserved</a>.
        </p>
      </div>
    </div>
      </div>
    </div>

    </body>
</html>
