---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../layouts/Swift.astro";
import { SITE_TITLE } from "../../../consts";
import Link from "../../../components/Link.astro";
import SectionH1 from "../../../components/SectionH1.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={`${post.data.title} - ${SITE_TITLE}`}>
  <main>
    <article class="space-y-8">
      <SectionH1>
        <Link href="/projects/words/">Words</Link>
      </SectionH1>
      <h2>{post.data.title}</h2>
    </article>

    <article class="blog-post">
      <Content />
    </article>
  </main>
</Layout>
